demo/*.grib
Notebooks/grid_with_rainfall.csv
Results/Frames
Results/*.mp4

Data/Processed/*.parquet

Data/Temperature
Notebooks/temperature_data.csv

Notebooks/grid_with_temperature.csv
Notebooks/average_temperature.nc


Notebooks/processed_graphs/*.pt
Notebooks/graph_embeddings

